@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
 

  .container {
    display: grid;
	 grid-template-columns:[startheader] auto[startinput] 1fr [startbutton]  auto[endheader] ;
    align-items: center;
  
	 @media(max-width:720px){
		grid-template-columns:[startheader] 1fr[startinput] auto [startbutton];
		gap: 20px 0px;

	 }
	 @media(max-width:490px){
		grid-template-columns: [startbutton]auto[endheader];
		gap: 20px;
		justify-items: center;
		justify-self: center;
	 }
  }

  &__logo {
    display: grid;
	 grid-template-columns: auto 1fr;
	 cursor: pointer;
	
    h1 {
		margin-left: 15px;
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
		
    }

    p {
		margin-left: 15px;
      color: #7b7b7b;
		
    }
  }
}
.header__cart{
	@media(max-width:720px){
		display: block;
		margin: 0 auto;
		
	 }
}