.search__container{
	
	position: relative;

	img:first-child{
		position: absolute;
		max-width: 25px;
		top: 17px;
		left: 15px;
		opacity: 0.5;
		@media (max-width:490px){
			top: 7px;
			left: 7px;
		}
	}

	img:last-child{
		position: absolute;
		max-width: 20px;
		opacity: 0.5;
		top: 20px;
		left: 180px;
		cursor: pointer;
	}

	.search__input{
		border-radius: 5px;
		border: 1px solid rgba($color: #968989, $alpha: 0.4);
		transition: all 0.5s ease-in-out;
		padding: 10px;
		padding-left: 30px;
		margin: 10px 10px 0px 10px;
		width: 200px;

		&:focus{
			transition: 0.5s all;
			outline: $orange;
			border: 1px solid $orange;
			
	}
	
	
	
	@media (max-width:490px){
			margin: 0;
			padding-left: 35px;
		}
}




}